@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@600&display=swap');


html, body {
    margin: 0;
}

body {
    background-color: black;
}

h1,h2,h3,h4,h5,h6,p,span,img,button {
    font-family: "Fira Sans Condensed";
    text-align: center;
}

#app {
    overflow-x: hidden;
}

.viewer-tooltip {
    font-family: "Arial";
}

#cursor {
    z-index: 1000;
    width: 1.8rem;
    transition: opacity 0.2s, width 0.1s, filter 0.2s;
    opacity: 0;
    pointer-events: none;
}

*,a:hover,button:hover {
    cursor: none;
}

*:hover #cursor {
    opacity: 1;
}

html:has(a:hover) #cursor, html:has(.reactive:hover) #cursor {
    width: 2.4rem;
    filter: saturate(100) hue-rotate(10deg);
}

html:has(iframe:hover) #cursor, html:has(.hide-cursor:hover) #cursor {
    opacity: 0;
}

@media only screen and (hover: none) and (pointer: coarse){
    #cursor {
        display: none;
    }
}